/*--------------------------------------------------
                        font
----------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@500&display=swap');

/*--------------------------------------------------
                    global style
----------------------------------------------------*/
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    box-sizing:border-box;
    line-height:1.5;
    font-size:15px;
    outline:none;
}
img{
    width:100%;
    vertical-align:middle;
}
ul{
    margin:0;
}
a{
    text-decoration:none;
}
.container{
    max-width:1200px;
    margin:0 auto;
}
.section-title{
    font-size:28px;
    text-align:center;
    text-transform:capitalize;
    margin-bottom:40px;
    color:rgb(56,58,59);

}

/*--------------------------------------------------
                 header styles
----------------------------------------------------*/
header>.navigation{
    display:flex;
    min-height:25vh;
    justify-content:space-between;
    align-items:center;

}
.navigation .menu{
    display:flex;
}
.navigation>.logo-brand>a{
    font-size:30px;
    font-weight:500;
    color:rgb(56,58,59);
    text-transform:capitalize;
}
.navigation .menu>li{
    list-style:none;
    margin:0 10px;
}
.navigation .menu>li>a{
    padding:12px 10px;
    text-transform:capitalize;
    font-size:18px;
    color:rgb(56,58,59);
}

/*--------------------------------------------------
                 banner styles
----------------------------------------------------*/
.banner{
    margin:30px 0;
}
.banner .grid-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
}
.grid-container .grid-cell-left{
    display:flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content:center;
    color:rgb(56,58,59);
}
.grid-container .grid-cell-left>h1{
    font-size:42px;
    font-weight:700;
}
.grid-container .grid-cell-left>p{
    font-size:16px;
    margin:30px 0;
    word-spacing:1px;
    letter-spacing:1px;
}
.grid-container .grid-cell-left>.btn{
    padding:12px 25px;
    background-color:rgb(226,46,109);
    border-radius:25px;
    display:inline-block;
    color:rgb(255,255,255);
    text-transform:capitalize;
}
.grid-container .grid-cell-left>.btn>.fas{
    text-indent:8px;
    transition:transform .2s ease-in-out;
}

.grid-container .grid-cell-left>.btn:hover .fas{
    transform:translateX(8px);
}
.grid-container .grid-cell-right{
    background-image:url('../images/Circle\ design.svg');
    background-position:center center;
    background-repeat:no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;

}
.grid-container .grid-cell-right img{
    width: 474px;
    height:474px;
}

/*--------------------------------------------------
                    companies
----------------------------------------------------*/
.company{
    margin:60px 0;
}
.company-inner{
     display:flex;
     justify-content:space-evenly;
     align-items:center;
    border-top:2px solid rgb(230,233,234);
    border-bottom:2px solid rgb(230,233,234);
    padding:20px 0;
}
.company-inner img{
    width:80px;
    height:80px;
}

/*--------------------------------------------------
                    collections 
----------------------------------------------------*/
.collection{
    margin:60px 0;
    position:relative;
    
}
.collection>.container{
    width:1140px;
    margin:0 auto;
}
.collection-card{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:25px;
    justify-content:center;
}
.collection-card-item{
    padding:20px 20px;
    box-shadow:0 0 30px rgb(209, 206, 206);
    border-radius:10px;

}
.collection-card-item .card-photo img{
     width:100%;
}
.collection-card-item p{
    color:rgb(56,58,59);
    font-size:14px;
}
.collection-card-item .card-info>.card-title{
    font-size:22px;
    color:rgb(56,58,59);
    text-transform:capitalize;
    margin:15px 0px;
    color:rgb(23,28,26);
}
.collection-card-item>.card-info>.dollar-sign{
    margin:10px 0;
}
.collection-card-item>.card-info i{
    color:rgb(242,137,39);
}
.collection-card .btn{
    text-transform:capitalize;
    color:rgb(226,46,109);
    position:absolute;
    right:112px;
    bottom:-60px;
    font-size:15px;
}